.list-container {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  text-decoration: none;
  padding: 10px 0 0 0;
}
.nav-item :hover {
  cursor: pointer;
  background-color: #898989;
}
.nav-item a {
  padding-left: 20px;
}

#sidebar-mobile-control {
  display: none;
}

#sidebar-mobile-collapse {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
}

.sidebar {
  flex: 15%;
  background: #d5d5d5;
  overflow-y: scroll;
}

.profile-info-container {
  display: flex;
}

.profile-pic-container {
  flex: 50%;
  border-bottom: 1px solid #2A3439;
  padding: 20px 0;
  text-align: center;
}

.profile-body {
  flex: 50%;
  white-space: nowrap;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  padding: 10px;
}

.profile-name {
  font-weight: bolder;
  text-align: center;
}

.profile-title {
  text-align: center;
}

.content-container {
  border-bottom: 1px solid #3a3f48;
}

.content-heading {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  #sidebar-mobile-control {
    display: block;
  }

  #sidebar-mobile-collapse {
    display: block;
  }

  .sidebar {
    display: block;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width 0.3s;
  }

  .sidebar-active {
    display: block;
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width 0.3s;
  }

  .profile-pic {
    border-radius: 50%;
    width: 100px;
    padding: 10px;
  }

  .profile-pic-container {
    flex: 50%;
    border-bottom: 1px solid #2A3439;
    border-top: 1px solid #2A3439;
    color: #818896;
    padding: 10px 0;
    text-align: center;
  }

  .profile-name {
    margin: 10px;
  }

  .profile-title {
    margin: 10px;
  }

  .sidebar__header {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .fa-window-close {
    padding-left: 10px;
  }
}
.header {
  background: #9099a2;
  padding: 20px;
}

.header h1 {
  display: inline;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 0;
  }

  .header h1 {
    display: inline;
    padding: 0;
  }

  span #book-icon {
    display: none;
  }
}
.image-container {
  max-width: 494px;
  max-height: 800px;
  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  height: 0;
  padding-top: 133.4008097166%;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 3px;
  max-width: 98%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  #left-button-container, #right-button-container {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

.checked {
  color: #d4af37;
}

.month-heading {
  text-align: center;
}

.book-container {
  padding: 10px;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background: #6D7993;
}

.flex-container {
  display: flex;
}

#target {
  flex: 80%;
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-button-container, #right-button-container {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.selection-button {
  max-width: 100%;
  max-height: 100%;
}

#right-button-container {
  order: 3;
}

.wrapper {
  max-width: 85%;
}

@media only screen and (max-width: 600px) {
  #left-button-container, #right-button-container {
    display: none;
  }

  .wrapper {
    max-width: 100%;
  }

  .fas.fa-book.fa-2x {
    display: none;
  }
}

/*# sourceMappingURL=input.css.map */
