.header {
  background: #9099a2;
  padding: 20px;
}

.header h1 {
  display: inline;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 0;
  }

  .header h1 {
    display: inline;
    padding: 0;
  }

  span #book-icon {
    display: none;
  }
}