.image-container {
  max-width: 494px;
  max-height: 800px;
  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  height: 0;
  padding-top: ((659/494) * 100%);
}

// using image container height rather than image height

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #left-button-container, #right-button-container {
    display: none;
  }
}