@media only screen and (max-width: 600px) {
  .image-wrapper {
    background: lightblue;
    border: 1px solid $gunmetalGray;
    margin: 0 auto;
  }

  #left-button-container, #right-button-container {
    display: none;
  }
}