.list-container {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  text-decoration: none;
  padding: 10px 0 10px 0;
  :hover {
    cursor: pointer;
    background-color: #ce0606;
  }
  a {
    padding-left: 20px;
  }
}

#sidebar-mobile-control {
  display: none;
}

#sidebar-mobile-collapse {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
}

.sidebar {
  flex: 15%;
  background: #dadbda;
  overflow-y: scroll;
}

.profile-info-container {
  display: flex;
}

.profile-pic-container {
  flex: 50%;
  border-bottom: 1px solid $gunmetalGray;
  color: #818896;
  padding: 20px 0;
  text-align: center;
}

.profile-body {
  flex: 50%;
  white-space: nowrap;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  padding: 10px;
}

.profile-name {
  font-weight: bolder;
  text-align: center;
}

.profile-title {
  text-align: center;
}

.content-container {
  border-bottom: 1px solid #3a3f48;
}

.content-heading {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  #sidebar-mobile-control {
    display: block;
  }

  #sidebar-mobile-collapse {
    display: block;
  }

  .sidebar {
    display: block;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width 0.3s;
  }

  .sidebar-active {
    display: block;
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width 0.3s;
  }

  .profile-pic {
    border-radius: 50%;
    width: 100px;
    padding: 10px;
  }

  .profile-pic-container {
    flex: 50%;
    border-bottom: 1px solid $gunmetalGray;
    border-top: 1px solid $gunmetalGray;
    color: #818896;
    padding: 10px 0;
    text-align: center;
  }

  .profile-name {
    margin: 10px;
  }

  .profile-title {
    margin: 10px;
  }

  .sidebar__header {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .fa-window-close {
    padding-left: 10px;
  }
}
