.nav-item {
  text-decoration: none;
  padding: 10px 0 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
  :hover {
    cursor: pointer;
    background-color:#ce0606 !important;
  }
}