.slideshow-container {
  width: 50%;
  margin: 0 auto;
  background: lightpink;
}

.month-heading {
  text-align: center;
  background: lightgreen;
}

.image-container {
  background: lightblue;
  text-align: center
}

.image-container img {
  height: 500px; 
  max-width: 100%; 
}

.review-container {
  background: lightcoral;
}