@import "./colors";
@import "./sizings";
@import "./navbar";
@import "./header";
@import "./imageWrapper";

* {
  box-sizing: border-box;
}

.list-container {
  list-style-type: none;
  padding-left: 10px;

}

.checked {
  color: $metalicGold;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.flex-container {
  display: flex;
  background: pink;
}

.sidebar {
  flex: 20%;
  background: #dadbda;
  top: 0;
}

#target {
  flex: 80%;
}

.profile-info-container {
  display: flex;
}

.profile-pic-container {
  flex: 50%;
  border-bottom: 1px solid $gunmetalGray;
  border-top: 1px solid $gunmetalGray;
  color: #818896;
  padding: 20px 0;
}

.profile-body {
  flex: 50%;
  white-space: nowrap;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  padding: 10px;
  float: left;
}

.profile-name {
  font-weight: bolder;
  text-align: center;
}

.profile-title {
  text-align: center;
}

.content-container {
  border-bottom: 1px solid #3a3f48;
}

.content-heading {
  padding-left: 10px;
}

.image-container {
  text-align: center;
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-button-container, #right-button-container {
  width: 100px;
  height: 100px;
}

.selection-button {
  max-width: 100%;
  max-height: 100%
}

#right-button-container {
  order: 3;
}

.image-container {
  max-width: 779px;
  margin: 0 auto;
}

.image-wrapper {
  background: lightblue;
  text-align: center;
  border: 1px solid $gunmetalGray;
  margin: 0 auto;
  max-width: 760px;
  padding: 0 0 130%;
  position: relative;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%; 
  margin: 0 auto;
}

.wrapper {
  max-width: 75%;
}