<script id="tpl-review" type="text/html">
  <div class="slideshow-container" id="template-review">
    <div id="left-button-container">
      <button class="selection-button" id="left-button">&#10094;</button>
    </div>
    <div id="right-button-container">
      <button class="selection-button" id="right-button">&#10095;</button>
    </div>
  <div class="wrapper active">
      <h1 class="month-heading">{{month}}</h1>
    <div class="image-container">
      <div class="image-wrapper">
          <img class="book-image" src="{{image}}" alt={{altText}}>
      </div>
    </div>
    <div class="book-details">
      <h2>{{title}}</h2>
      <h3>{{author}}</h3>
      <div class="rating-container">
        {{#renderStars rating}}
        <span class="fa fa-star" id="star-1"></span>
        <span class="fa fa-star" id="star-2"></span>
        <span class="fa fa-star" id="star-3"></span>
        <span class="fa fa-star" id="star-4"></span>
        <span class="fa fa-star" id="star-5"></span>
        {{/renderStars}}
      </div>
    </div>
    <div class="review-container">
      <p class="review-text">
        {{review}}
      </p>
    </div>
  </div>
</script>
